<!doctype html>
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/input.css')}}">
<head>
    <form method="post">
        <div class="header" style="text-align:center">
            <h1>Enter the encoding here</h1>
        </div>
        <textarea rows = "5" cols = "60" name = "encoding"></textarea><br>
        <div class="header" style="text-align:center">
            <h1> Enter the ordering here </h1>
        </div>
        <textarea rows = "5" cols = "60" name = "ordering"></textarea><br>
        <center>
        <input type="submit" value="Submit" style="font-size: 18px">
	</center>
    </form>
    <!--p>{{ name }}</p>
    <img src={{ url}} alt="Chart" -->
</head>
