<!doctype html>
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/default.css')}}">

<head>
    <form method="post" onSubmit="onSubmit()">
        <div class="roundbox" style="background-color:#f2f3f5">
            <h1>BDD Visualizer <h1>
        </div>
        <div class="roundbox" id = "error" style="background-color:#f2f3f5; display: none">
            <h3> <font color="red">Invalid Input! Try again. (Operators: &amp&amp = AND, | | = OR, ! = NOT) </font></h3>
        </div>
        <div class="roundbox" >
            <h2>Enter the encoding here</h2>
        </div>
        <textarea placeholder = "a1 && (!b2 || c3)" rows = "5" cols = "60" name = "encoding"></textarea><br>
        <div class="roundbox">
            <h2> Enter the ordering here </h2>
        </div>
        <textarea placeholder = "b2 < c3 < a1" rows = "5" cols = "60" name = "ordering"></textarea><br>
        <div class="roundbox">
        <INPUT TYPE="radio" NAME="q1" VALUE="False" checked>Level Order Reduction
        <INPUT TYPE="radio" NAME="q1" VALUE="True" > DFS Reduction
        </div>
        <div class="roundbox">
            <INPUT TYPE="radio" NAME="q2" VALUE="False" checked> Smallest Subtree First
            <INPUT TYPE="radio" NAME="q2" VALUE="True"> Largest Subtree First
        </div>
        <center>
        <input type="submit" value="Submit" style="font-size: 18px">
        <div class="roundbox" id="waiting" style="background-color:#f2f3f5; width: 100px; display: none">
            <b>Waiting...</b>
        </div>
        </center>
    </form>
    <footer>
        <p>Authors: Austin Li and Kenny Poor</p>

    </footer>
    <script>
        function onSubmit() {
            document.getElementById("waiting").style.display = "flex";
            document.getElementById("error").style.display = "none";
        }
        
        if ( '{{ message }}' == 'Error'){
            document.getElementById("error").style.display = "flex";
        }
        
    </script>
    <!--p>{{ name }}</p>
    <img src={{ url}} alt="Chart" -->
</head>
