<!doctype html>
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/default.css')}}">
<head>
    <form method="post">
        <div class="roundbox" style="background-color:#f2f3f5">
            <h1>BDD Visualizer <h1>
        </div>
        <div class="roundbox" >
            <h2>Enter the encoding here</h2>
        </div>
        <textarea placeholder = "a1 && (!b2 || c3)" rows = "5" cols = "60" name = "encoding"></textarea><br>
        <div class="roundbox">
            <h2> Enter the ordering here </h2>
        </div>
        <textarea placeholder = "b1 < c3 < a2" rows = "5" cols = "60" name = "ordering"></textarea><br>
        <center>
        <input type="submit" value="Submit" style="font-size: 18px">
        
        </center>
    </form>
    <footer>
        <p>Authors: Austin Li and Kenny Poor</p>

    </footer>
    <!--p>{{ name }}</p>
    <img src={{ url}} alt="Chart" -->
</head>
